on: push
jobs:
  curl:
    runs-on: ubuntu-latest
    steps:
    - name: curl
      uses: wei/curl@master
      with:
        args: -vvf -uchiju:32ea322465698d89b0b2844be7d8007527516e6e -H "Content-Type: application/json" -X POST https://api.bintray.com/packages/chiju/rpms/openssh/versions  --data '{\"name\": \"7.6\", \"github_use_tag_release_notes\": false }'